@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato&display=swap');*{
    margin: 0;
    padding: 0;
    border: none;
}

body{ 
    font-family:'lato', sans-serif;
    font-weight: 200;
    color: grey;

}
/* headings and logo */

h1, h2 {
    font-family: 'DM Serif Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:whitesmoke;
}

#logo{
    float: left;
    color:white;
    text-transform:uppercase;
    letter-spacing: 5px;
    font-size: 150%;
    padding: 20px;
    margin-left: 20px;
}
/*navigation links */

nav{
    background-color: black;
    height:60px;
}

#menu{
    font-size: 100%;
    float: right;
}

#menu, #logo{
    line-height: 20px;
}

#menu li{
    display: flex;   
    justify-content: space-around; 
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    padding:20px 40px;
    align-items: center;
}

#menu a{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: none;
    text-decoration: none;
    color: white;
}

#menu a:hover{
    color: #FCA311;
}

.active{
    color: #FCA311;
    border-bottom: 1px solid #FCA311;
}
/* landing page*/
.hero-video{
    margin: 0;
    padding: 0;
}

.hero-video{
    position: absolute;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center; 
    color:white;
    z-index:2;

}

.hero-video video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.9;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgb(83, 83, 83);
    mix-blend-mode: overlay;
}

.text{
    position: relative;
    padding-left: 20px;
    z-index: 10;
}

.text h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;

}

.text h4{
    text-transform: uppercase;
    padding-left: 40px;
}

.text button{
    background-color: #FCA311;
    color:white;
    padding: 15px 46px;
    font-family: lato;
    font-size: x-small;
    text-transform: uppercase;
    margin: 20px 117px;
}
/*Our mission*/
.our-mission{
    background-color: black;
    margin-top: 600px;
    height:400px ;
}

#mission-center{
    padding: 50px 47px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#mission-center h2{
    padding: 20px;
}

#mission-center p{
    margin-top: 0px;
}

#mission-center button{
    margin: 20px;
    padding: 20px 30px;
    text-transform: uppercase;
}
/*club Virtus*/
#club-virtus{
    background-image: url(/assets/images/club-virtus-background-image.png);
    height: 600px;
    display: flex;
    color: whitesmoke;
}

#left-about{
    margin: 100px 20px;
    height: 380px;
    padding-top: 30px;
    width: 30%;
    float: left;
    background-color: black;
    opacity: 0.8;

}

#right-about{
    margin: 100px 20px;
    padding-top: 30px;
    height: 380px;
    width: 30%;
    float: right;
    background-color: black;
    opacity: 0.8;
}

#center-about{
    padding-top: 30px;
    height: 380px;
    width: 30%;
    margin: 100px auto;
    background-color: black;
    opacity: 0.8;
}

.our-team{
    text-align: center;
    margin: 20px;
}

.our-values{
    text-align: center;
    margin: 20px;
}

.fab, .far {
    font-weight: 400;
    font-size: 100px;
}

.fa, .fas {
    font-weight: 900;
    font-size: 100px;
}

i.far.fa-heart {
    font-size: 100px;
}

.our-training{
    text-align: center;
    margin: 20px;
}

#club-virtus button{
    background-color: #FCA311;
    margin-top: 50px;
    padding: 10px 40px;
}

#club-virtus h2{
    padding-bottom: 20px;
}

#club-virtus p{
    padding-top: 40px;
}
/* footer */

footer{
    background-color: black;
    height: 60px;
}

.fab, .far {
    font-weight: 400;
    font-size: 30px;
}

.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline;
}

.social-networks a{
    color: white;
}

.social-networks i{
    font-size: 160%;
    justify-content: space-evenly;
    margin: 15px 3%;
}
/* Training section*/
.about-us{
    background: url(/assets/images/training-background-image.png) no-repeat center center;
    color: white;
    height: 400px;
    opacity: 0.9;
    width: 100%;
}
.overlay-aboutus{
    position: absolute;
    top:60px;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgb(83, 83, 83);
    mix-blend-mode: overlay;
}
.about-us h2{
    color: white;
    padding: 60px 100px;
    text-align: center;
}

#about-us-center{
    padding: 0px 130px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 20px;
}
/*the team*/
.the-team{
    background-color: black;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit,25%);
    align-self: flex-start;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.team-div{
    background-color: black;
    text-align: center;
    text-decoration: underline;
    color: #FCA311;
    margin: 0px;
    height: 60px;
    padding-top: 15px;
}
.trainer-card{
    box-shadow: 0px 2px 8px 0px #E5E5E5;
    width: 70%;
    max-width: 400px;
    margin: 77px 39px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #14213D;
    color: white;
    text-align: center;
    padding: 1rem;
}
.profile-img {
    text-align: center;
    border-radius: 50%;
    border: 4px solid white;
    width: 200px;
    height: auto;
    margin-left: 15%;
}