@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'lato', sans-serif;
    font-weight: 200;
    color: grey;

}

/* headings and logo */

h1,
h2 {
    font-family: 'DM Serif Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: whitesmoke;
}

#logo {
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 150%;
    padding: 20px;
    margin-left: 20px;
}

/*navigation links */

nav {
    background-color: black;
    height: 60px;
}

#menu {
    font-size: 100%;
    float: right;
}

#menu,
#logo {
    line-height: 20px;
}

/* sets the margin and padding for nav bar*/
#menu li {
    display: flex;
    justify-content: space-around;
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    padding: 20px 40px;
    align-items: center;
}

#menu a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: none;
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: #FCA311;
}

.active {
    color: #FCA311;
    border-bottom: 1px solid #FCA311;
}


/* Media queries for nav bar medium -small screen (ipad)*/
@media screen and (max-width:770px) {
    #menu li {
        padding: 20px 0px;
    }
}

/* Smaller screens */
@media screen and (max-width:538px) {
    #logo {
        padding: 5px;
        margin-left: 49px;
    }

    #menu li {
        margin-right: 45px;
        padding: 0px 9px;
    }

    #main-text {
        font-size: 4em;
    }

    #main-h4 {
        padding-left: 5px;
    }

    #text-button {
        margin-left: 81px;
    }
}



/* landing page*/
.hero-video {
    margin: 0;
    padding: 0;
}

.hero-video {
    position: absolute;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    z-index: 2;

}

.hero-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.9;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgb(83, 83, 83);
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    padding-left: 20px;
    z-index: 10;
}

.text h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;

}

.text h4 {
    text-transform: uppercase;
    padding-left: 40px;
}

.text button {
    background-color: #FCA311;
    color: black;
    padding: 15px 46px;
    font-family: lato;
    font-size: x-small;
    text-transform: uppercase;
    margin: 20px 117px;
}


/*Our mission*/
.our-mission {
    background-color: black;
    margin-top: 600px;
    height: 400px;
}

#mission-center {
    padding: 23px 47px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#mission-center h2 {
    padding: 20px;
}

#mission-center p {
    margin-top: 0px;
}

#mission-center button {
    margin: 20px;
    padding: 20px 30px;
    text-transform: uppercase;
}

#mission-center button:hover {
    background-color: #FCA311;

}

/*media query for our mission section*/
@media screen and (max-width:375px) {
    .our-mission {
        background-color: black;
        margin-top: 576px;
        height: 596px;
    }
}


/*club Virtus*/
#club-virtus {
    background-image: url(../images/club-virtus-background-image.jpeg);
    height: 600px;
    display: flex;
    color: whitesmoke;
    width: 100%;
    background-size: cover;
    background-position: center;

}

#left-about {
    margin: 100px 20px;
    height: 380px;
    padding-top: 30px;
    width: 30%;
    float: left;
    background-color: black;
    opacity: 0.8;

}

#right-about {
    margin: 100px 20px;
    padding-top: 30px;
    height: 380px;
    width: 30%;
    float: right;
    background-color: black;
    opacity: 0.8;
}

#center-about {
    padding-top: 30px;
    height: 380px;
    width: 30%;
    margin: 100px auto;
    background-color: black;
    opacity: 0.8;
}

.our-team {
    text-align: center;
    margin: 20px;
}

.our-values {
    text-align: center;
    margin: 20px;
}

.fab,
.far {
    font-weight: 400;
    font-size: 100px;
}

.fa,
.fas {
    font-weight: 900;
    font-size: 100px;
}

i.far.fa-heart {
    font-size: 100px;
}

.our-training {
    text-align: center;
    margin: 20px;
}

#club-virtus button {
    background-color: #FCA311;
    margin-top: 50px;
    padding: 10px 40px;
}

#club-virtus h2 {
    padding-bottom: 20px;
}

#club-virtus p {
    padding-top: 40px;
}

/* Media queries */
@media screen and (max-width:875px) {
    #club-virtus {
        height: 1200px;
        margin: 0 auto;
        display: grid;
    }

    #left-about {
        margin: 10px 14%;
        padding-top: 3px;
        width: 73%;
        height: 355px;
    }

    #right-about {
        margin: 10px 14%;
        padding-top: 3px;
        width: 73%;
        height: 355px;
    }

    #center-about {
        margin: 10px 14%;
        padding-top: 3px;
        width: 73%;
        height: 355px;
    }
}

/* footer */

footer {
    background-color: black;
    height: 60px;
}

.fab,
.far {
    font-weight: 400;
    font-size: 30px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks a {
    color: white;
}

.social-networks i {
    font-size: 160%;
    justify-content: space-evenly;
    margin: 15px 3%;
}

.social-networks a:hover {
    color: #FCA311;
}

/* Training section*/
.about-us {
    background: url(../images/aboutus-background-image.jpeg) no-repeat center center;
    color: white;
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-aboutus {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: overlay;
}

.about-us h2 {
    color: white;
    padding-top: 37px;
    padding-bottom: 20px;
    text-align: center;

}

#about-us-center {
    padding: 0px 130px;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 20px;

}

/*media query for about us section*/
@media screen and (max-width:690px) {
    .about-us h2 {
        padding-top: 20px;
    }

    #about-us-center {
        font-size: 16px;
    }
}

/*the team*/
.the-team {
    background-image: url(../images/theteam-program-background-image.jpeg);
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    align-self: flex-start;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.team-div {
    background-color: black;
    text-align: center;
    text-decoration: underline;
    color: #FCA311;
    margin: 0px;
    height: 60px;
    padding-top: 15px;
}

.trainer-card {
    box-shadow: 0px 2px 8px 0px #E5E5E5;
    width: 63%;
    max-width: 200px;
    margin: 28px 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 375px;
    opacity: 0.95;
    background-color: rgba(83, 83, 83, 0.4);
}

.profile-img {
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 2px 8px 0px #E5E5E5;
    width: 67%;
    height: auto;
    margin-left: 15%;
    opacity: 0.9;
}

.trainer-card p {
    font-size: 17px;
}

/* Programs*/
.programs-div {
    background-color: black;
    text-align: center;
    text-decoration: underline;
    color: #FCA311;
    margin-top: 499px;
    height: 60px;
    padding-top: 15px;
    position: absolute;
    width: 100%;
}

.program-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    width: 400%;

}

.programh2 {
    font-size: 17px;
    padding: 20px 0px;
}

.program-card {
    box-shadow: 0px 2px 8px 0px #e5e5e5;
    width: 75%;
    max-width: 368px;
    margin: 41px 10% -0px 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 5px;
    height: 288px;
    opacity: 0.95;
    background-color: rgba(83, 83, 83, 0.4);
}

.program-section i {
    font-size: 53px;
    padding-top: 36px;
    padding-bottom: 20px;
}


.program-section h3 {
    padding-top: 46px;
    font-size: 15px;
}

/* media query for team and program cards appear side by side side */
@media screen and (max-width: 1000px) {
    .the-team {
        display: grid;
        grid-template-columns: repeat(auto-fit, 24rem);
        align-self: flex-start;
        justify-content: space-evenly;
        height: 1800px;
    }

    .trainer-card {
        margin: 28px 20%;
    }

    .programs-div {
        margin-top: 962px;
    }
}



/* media query for about us for smaller screens */
@media screen and (max-width: 767px) {
    .about-us h2 {
        font-size: 14px;
    }

    #about-us-center {
        padding: 29px 50px;
        text-align: center;
        line-height: 23px;
        font-size: 16px;
    }

    .the-team {
        height: 3500px;
    }


    #theprograms {
        margin-top: 1955px;
    }

    html.training-page nav {
        position: fixed;
        top: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1;

    }
}



/*Mobility timings*/
#mobility {
    background-image: url(../images/mobility-background-image.jpeg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.mobility-div {
    background-color: black;
    text-align: center;
    text-decoration: underline;
    color: #FCA311;
    margin: 0px;
    height: 60px;
    padding-top: 15px;
}

#mobility div {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 33.3%;
    height: 400px;
    float: left;
    width: 33.3%;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    padding-top: 68px;
    font-size: 16px;

}

#mobility h2 {
    font-size: 17px;
}

#joinnow {
    background-color: orange;
    color: black;
    padding: 18px 73px;
    margin-top: 25px;
}

@media screen and (max-width:533px) {
    #joinnow {
        padding: 8px 36px;
    }
}

/* Join us page*/
.progress {
    height: 400px;
    background-color: black;
    text-align: center;
}

.form-heading {
    text-align: center;
    padding-top: 202px;
}

.progress h2 {
    padding-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* sign up form */
.form {
    background-image: url(../images/signup-form-background-image.jpg);
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-heading h2 {
    text-decoration: underline;
    text-decoration-color: #FCA311;
}

.signup-details {
    position: absolute;
    text-align: center;
    color: white;
    width: 36%;
    margin: 9px 31%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
}

::placeholder {
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    background-color: #FCA311;
}

.phoneno {
    margin-bottom: 10px;
}

.fsex {
    padding-left: 27px;
}

.birthday-div {
    padding: 20px;
}

.boxes h2 {
    color: white;
    text-align: center;
    font-size: 17px;

}

.boxes {
    color: white;
    letter-spacing: 3px;
    text-align: left;
    margin: 0px 120px;
}

.join-button {
    margin-top: 20px;
    padding: 16px 69px;
    background-color: #FCA311;
    text-transform: uppercase;
}

.join-button:hover {
    background-color: white;
}

/* Media Query for sign up form*/
@media screen and (max-width:1200px) {
    .boxes h2 {
        font-size: 14px;
        padding: 5px;
    }
    .boxes{
        letter-spacing: 2px;
    text-align: left;
    margin: -3px 53px;
    line-height: 16px;
    }

}

/* Contact us */
.contact-us {
    height: 400px;
    background-color: black;
}

.info-map {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.contact-card {
    margin-left: 130px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 27px;
}

.maps {
    margin-right: 160px;

}

/* Media Query for join us page */
@media screen and (max-width:850px) {
    .maps iframe {
        width: 300px;
    }

    .signup-details {
        width: 46%;
        margin: 57px 26%;
        ;
    }

    .progress h2 {
        font-size: 4em;
    }

}

@media screen and (max-width:375px) {
    .progress h2 {
        font-size: 3em;
    }

    .signup-details {
        width: 84%;
        margin: 30px 8%;
    }

    .maps {
        margin-right: 211px;
    }

    .maps iframe {
        width: 150px;
    }

    .contact-card {
        margin-left: 187px;
        line-height: 25px;
        padding: 0px 10px;
        font-size: 12px;
        text-align: right;
        letter-spacing: 0px;
    }

    .contact-card h2 {
        font-size: medium;
    }
}



/*thank you page after submit form completion*/
.thankyou {
    background-image: url(../images/thankyou-background-image.jpeg);

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    background-position: center;
    background-color: rgba(46, 46, 46, 0.6);

}

#tu-overlay {
    width: 100%;
    height: 600px;
    background-color: rgba(46, 46, 46, 0.6);

}

.thankyou h2 {
    text-align: center;
    font-size: 21px;
    padding: 96px;
}

.tu-msg {
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;


}